@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');

/* ------- CARACTERISTICAS UNIVERSALES ------- */

            body{font-family: 'Radio Canada', sans-serif;}

            /* ------- FOOTER EN MODO PC Y TABLET ------- */
            .footer{
                display:grid;grid-template-columns: 30px 145px auto 225px 180px 30px;
                grid-column-start: 1;grid-column-end: 4;  grid-row: 4;
                background-color: black;
                height: 25px;
                width: 100%;
                position:fixed ;bottom: 0px;
                color:white;
                z-index: 5;
            }
            .footer span{
                display:grid;
                text-align: left; align-self: center;
                font-size: 10px;
            }
            a:link, a:visited, a:active {
                text-decoration:none;
                color: rgb(71, 89, 255);
            }
            /*--------- FIN FOOTER EN PC Y TABLET ----------  */
            @keyframes centro {
                from{transform: rotate(0deg);}
                to{transform: rotate(3600deg);}
            }

/* --------------------- FIN  --------------------- */







/* ------- CARACTERISTICAS SOLO PC ------- */
@media only screen and (min-width:660px){
body{
    display: grid;
    background-image:url(Media/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    grid-template-rows: 100vh;
    padding: 0px;
    margin: 0px;
}
.loader{
    display: grid;
    grid-row:0;
    justify-items: left;
    height: 100vh;
 
    align-items: center;
    justify-items: center;
    background: #831e1e67;
    z-index:2;

}
.content{
    
    display: grid;
   
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    justify-items: left;
    height: 100vh;
   
    align-items: center;
    justify-items: center;

}


.centInicio{
    display: grid;
    grid-column-start:1; grid-column-end:3;  grid-row-start:1; grid-row-end:3; 
    grid-template-columns:100%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    z-index: 2;

    height:350px;
    width: 230px;
    mix-blend-mode: exclusion;
    transform: rotate(0deg);
    
    animation-name: centro;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    /*animation-timing-function: cubic-bezier(0.23, 1.21, 0.6, 0.63);*/
    animation-timing-function: cubic-bezier(0.66, 0.65, 0.26, 0.27);
    
    
}
        .a , .b{
            display: grid;
            mix-blend-mode: exclusion;
            z-index: 4;
            
        }
        .a{
            grid-column:1;grid-row:1;   margin-top: 55px;margin-left: -55px;
        }
        .b{
            grid-column:1;grid-row:2;   margin-top: -55px;margin-left: 55px;
        }

.izqInicio{
    display: grid;
    grid-column:1; grid-row-start:1; grid-row-end:3; 
    grid-template-columns:auto;
    grid-template-rows: auto auto auto;
    
    height:100vh ;
    width: 100%;
    z-index: 1;
    background: #ffc6c6;
    mix-blend-mode: exclusion;

    
}

.derInicio{
    display: grid;
    grid-column:2; grid-row-start:1; grid-row-end:3; 
    grid-template-columns:auto;
    grid-template-rows: auto auto auto;
    
    height:100vh ;
    width: 100%;
    z-index: 1;
    mix-blend-mode: exclusion;

    
} 
#temperatura , #luz {
    display: grid;
    grid-column:1; grid-row: 2;
    color: rgb(0, 0, 0);
    z-index: 1;

    align-items: center;
    justify-self: center;
    font-size:10vw;
}
#luz{
    color: rgb(255, 255, 255);
}


}
/* --------------------- FIN PC  --------------------- */





/* ---------- CARACTERISTICAS SOLO MOVIL ------------- */
@media only screen and (max-width:660px){
    body{
        display: grid;
        background-image:url(Media/Wallpaper.jpg);
        background-repeat: no-repeat;
        background-size:100vw 100vh;
    
        padding: 0px;
        margin: 0px;
    }
    .content{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh;
        justify-items: center;
        height:100vh;
        width: 100vw;
        
        justify-content: center;
        align-items: center;
    }
    
    .centInicio{
        display: grid;
        grid-column: 1; grid-row-start:1; grid-row-end:3;

        grid-template-columns:100%;
        grid-template-rows: 50% 50%;
        align-items: center;
        justify-items: center;
        z-index: 2;
    
        height:350px;
        width: 230px;
        
        mix-blend-mode: exclusion;
        transform: rotate(0deg);
        
        animation-name: centro;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        /*animation-timing-function: cubic-bezier(0.23, 1.21, 0.6, 0.63);*/
        animation-timing-function: cubic-bezier(0.66, 0.65, 0.26, 0.27);
        
        
    }
    .a , .b{
        display: grid;
        mix-blend-mode: exclusion;
        z-index: 4;
        height: 120px;
        
    }
    .a{
        grid-column:1;grid-row:1;   margin-top: 125px;margin-left: -25px;
    }
    .b{
        grid-column:1;grid-row:2;   margin-top: -125px;margin-left: 25px;
    }
    .izqInicio{
        display: grid;
        grid-column:1;  grid-row:2;
        height:50vh ;
        width: 100%;

        background: #FFC6C6;
        
        mix-blend-mode: exclusion;
        
    }
    .derInicio{
        display: grid;
        grid-column:1;  grid-row:1;
        height:50vh ;
        width: 100%;
    
        
        mix-blend-mode: exclusion;
        
    }
    #temperatura , #luz {
        display: grid;
        grid-column:1; grid-row: 1;
        color: rgb(0, 0, 0);
        z-index: 1;
    
        align-items: center;
        justify-self: center;
        font-size:25vw;
    }
    #luz{
        color: rgb(255, 255, 255);
    }
    .footer{
        display: none;
    }
}
/* ------------------ FIN SOLO MOVIL ------------------ */